services:
  test_postgres:
    image: postgres:15
    container_name: buildaquery_test_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: buildaquery_test
    ports:
      - "5433:5432"
    restart: always
  test_mysql:
    image: mysql:8.0
    container_name: buildaquery_test_mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: buildaquery_test
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
  test_oracle:
    image: gvenzl/oracle-xe:21-slim
    container_name: buildaquery_test_oracle
    environment:
      ORACLE_PASSWORD: password
      APP_USER: buildaquery
      APP_USER_PASSWORD: password
    ports:
      - "1522:1521"
    restart: always
  test_mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: buildaquery_test_mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Password!"
      MSSQL_PID: "Express"
    ports:
      - "1434:1433"
    restart: always
